@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.progress-bar1 {
    width: 80%;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-bottom: 20px; 
    overflow: hidden; 
    border-radius: 5px; 
    margin-left: auto;
    margin-right: auto;
}
.progress-bar2 {
    width: 80%;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-bottom: 20px; 
    overflow: hidden; 
    border-radius: 5px; 
    margin-left: auto;
    margin-right: auto;
}
.progress-bar3 {
    width: 80%;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-bottom: 20px; 
    overflow: hidden; 
    border-radius: 5px; 
    margin-left: auto;
    margin-right: auto;
}
.progress-bar4 {
        width: 80%;
        height: 20px;
        border: 1px solid #000;
        margin-bottom: 10px;
        margin-bottom: 20px; 
        overflow: hidden; 
        border-radius: 5px; 
        margin-left: auto;
        margin-right: auto;
}
.progress {
    width: 0%;
    height: 100%;
    background-color: green;
    margin-bottom: 0;

}

section{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    height: 100vh
}

.column{
    overflow: hidden;
    width: 0;
    flex-grow: 3;
    position: sticky;
    display: block;
    height: 100vh;
}

.upgrades{
    
    overflow: hidden;
    width: 0;
    flex-grow: 3;
    height: 100vh;
    width: 10%; 
    background-color: #f0f0f0;
}

.map{
    width: 0;
    flex-grow: 10;
    height:100vh;
    overflow: scroll;
    user-select: none;
}

.clicker{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    user-select: none;
}

.countContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    font-family: "Press Start 2P", sans-serif;
}

.turbine{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -34%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
}

.base{
    z-index: 4;
    top: 10%;
    left: 10%;
    pointer-events: none;
    height: 30vh;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
}

.turbineContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    user-select: none;
}

body{
    margin: 0;
    font-family: "Press Start 2P", sans-serif;
    height: 100%;
    overflow: hidden;
}
  
#upgrade-box {
    border: 5px solid black; 
    padding: 10px; 
    display: inline-block; 
    background-color: #8c5d3b;
    margin-top: 0;
    min-width: 95%;
}

#bio{
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.upgrade{
    font-size: 18px;
    font-family: "Press Start 2P", sans-serif;
}

#Upgrade-tab{
    font-size: 25px;
    background-image: url('https://i.chzbgr.com/full/9771707136/hA96B3A96/cat-guys-have-bad-news-theronswag-woke-up-again');
    text-align: center;
}

#upgradeable-building{
    #upgradeable-building {
        max-width: calc(100% - 20px); 
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }
    
}