.progress-bar {
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-bottom: 20px; 
    overflow: hidden; 
    border-radius: 5px; 
}

.progress {
    width: 0%;
    height: 100%;
    background-color: green;
}

section{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
}

.column{
    overflow: hidden;
    width: 0;
    flex-grow: 1;
}

.map{
    overflow: hidden;
    width: 0;
    flex-grow: 5;
}

.clicker{
    background-color: transparent;
}

@keyframes Turbine-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .turbine {
      animation: Turbine-spin infinite 3000ms linear;
      transition: animation-duration 0.5s ease;
    }
}