@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.progress-bar1,.progress-bar2,.progress-bar3,.progress-bar4,.progress-bar5 {
    width: 80%;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-bottom: 20px; 
    overflow: hidden; 
    border-radius: 5px; 
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
}

.kimmeridge{
    position: absolute;
    margin-left: 0vw;
    margin-top: 35vh;
    zoom: 45%;
    cursor: pointer;
}
.dorset{
    position: absolute;
    margin-left: 14vw;
    margin-top: 33vh;
    zoom: 60%;
    cursor: pointer;
}
.fusion{
    position: absolute;
    margin-left: 43vw;
    margin-top: 80vh;
    zoom: 55%;
    cursor: pointer;
}
.pgb{
    position: absolute;
    margin-left: 68vw;
    margin-top: 50vh;
    zoom: 75%;
    cursor: pointer;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: green;
    margin-bottom: 0;

}

section{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    height: 100vh
}

.column{
    overflow: hidden;
    width: 0;
    flex-grow: 3;
    position: sticky;
    display: block;
    height: 100vh;
}

.upgrades{
    overflow: hidden;
    width: 0;
    flex-grow: 3;
    height: 100vh;
    width: 10%; 
    background-color: #f0f0f0;
    min-height: 100%;
}

.map{
    width: 0;
    flex-grow: 10;
    height:100vh;
    background-color: #658d78;
}

.clicker{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    user-select: none;
}

.countContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    font-family: "Press Start 2P", sans-serif;
}

.turbine{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -34%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
}

.base{
    z-index: 4;
    top: 10%;
    left: 10%;
    pointer-events: none;
    height: 30vh;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
}

.turbineContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    user-select: none;
}

body{
    margin: 0;
    font-family: "Press Start 2P", sans-serif;
    height: 100%;
    overflow: hidden;
}
  
.upgrade-box {
    border: 5px solid black; 
    padding: 10px; 
    display: inline-block; 
    background-image: url('https://cdna.artstation.com/p/assets/images/images/073/239/192/large/matthew-immm-image-for-title-background.jpg?1709210864');
    margin-top: 0;
    min-width: 95%;
    min-height: 100%;
}

#bio{
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.upgrade{
    font-size: 18px;
    font-family: "Press Start 2P", sans-serif;
    
}

#Upgrade-tab {
    font-size: 25px;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/073/239/346/small/matthew-immm-pixil-frame-0-32.jpg?1709211090');
    background-size: 80%; /* Adjust the value to zoom out the background image */
    background-position: center center; /* Center the background image */
    background-repeat: repeat; /* Ensure the background image is not repeated */
    text-align: center;
    text-shadow: 
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}



#upgradeable-building{
    max-width: calc(100% - 20px); 
    
}

#image-container {
    overflow: hidden; /* Ensure this matches your design needs */
    cursor: grab; /* Cursor appearance when hovering */
    zoom:78%
}

.campus-image{
    height: 100vh;
}

.upgrade-bio{
    font-size: 7.5px;
    color: white;
    text-shadow: none;
}

.bio{
    color: white;
    text-shadow: none;
}