<!DOCTYPE html>
<html lang ="EN">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>ECOClicker</title>
    </head>

    <body>
        <section>
            <article class="column">
                <button id="clicker" class="clicker">
                    <h1 class="countContainer" id="countContainer">0</h1>
                </button>
                <div class="turbineContainer">
                    <img src="{{ url_for('static', filename='assets/TurbineBase.png')}}" class="base">
                    <img src="{{ url_for('static', filename='assets/blades.png')}}" alt = "Click me to generate points!" id="turbine" class="turbine">
                </div>
    
            </article>
    
            <article class="map">
    
                <img style="object-fit: cover;" src="{{ url_for('static', filename='assets/Campus.png')}}" alt = "University Campus Map, a placeholder.">
            
            </article>
    
            <article class="upgrades">
    
                <div id="Poole GateWay">
                    <h1>Upgardes for Poole Gateway</h1>
                    <p>bio of the building</p>
                </div>
                <div>
                    <button id="upgrade1" name="upgrade 1" onclick="updateProgress('progress1')">Upgrade 1</button>
                    <div class="progress-bar">
                        <div id="progress1" class="progress"></div>
                    </div>
                    <div>
                        <button id="upgrade2" name="upgrade 2" onclick="updateProgress('progress2')">Upgrade 1</button>
                        <div class="progress-bar">
                            <div id="progress2" class="progress"></div>
                        </div>
                </div>
    
            </article>
        </section>
    </body>

    <script src="{{ url_for('static', filename='script/index.js')}}"></script>
    
</html>
