<!DOCTYPE html>
<html lang ="EN">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>ECOClicker</title>
    </head>

    <body>
        <section>
            <article class="column">
                <img src="{{ url_for('static', filename='assets/bg.png')}}" id="clicker" class="clicker">
                    <h1 class="countContainer" id="countContainer">£0</h1>
                </img>
                <div class="turbineContainer">
                    <img src="{{ url_for('static', filename='assets/TurbineBase.png')}}" class="base">
                    <img src="{{ url_for('static', filename='assets/blades.png')}}" alt = "Click me to generate points!" id="turbine" class="turbine">
                </div>
    
            </article>
    
            <article class="map">
    
                <img style="object-fit: cover;" src="{{ url_for('static', filename='assets/Campus.png')}}" alt = "University Campus Map, a placeholder.">
            
            </article>
    
            <article class="upgrades" id="Upgrade-tab">
    
                <div id="Poole GateWay">
                    <h1 id="upgradeable-building">Poole Gateway sustainability upgrades</h1>
                    <p></p>
                </div>
                <div id="LED-upgrade-box">
                    <button id="LED-upgrade" name="LED-upgrade" onclick="updateProgress('progress1')">LED light upgrade: £5000</button>
                    <div class="progress-bar">
                        <div id="progress1" class="progress"></div>
                
                    </div>
                    <h1 name="LED-bio" id="LED-bio">This upgrade will install LED lights to the building and will save 4% of eneregy consmuption per year.</h1>
                </div>
    
            </article>
        </section>
    </body>

    <script src="{{ url_for('static', filename='script/index.js')}}"></script>
    
</html>
