<!DOCTYPE html>
<html lang ="EN">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>ECOClicker</title>
    </head>

    <body>
        <section>
            <article class="column">
                <img src="{{ url_for('static', filename='assets/bg.png')}}" id="clicker" class="clicker">
                    <h1 class="countContainer" id="countContainer">£0</h1>
                </img>
                <div class="turbineContainer">
                    <img src="{{ url_for('static', filename='assets/TurbineBase.png')}}" class="base">
                    <img src="{{ url_for('static', filename='assets/blades.png')}}" alt = "Click me to generate points!" id="turbine" class="turbine">
                </div>
    
            </article>
    
            <article class="map">
                <div id="image-container">
                    <img src="{{ url_for('static', filename='assets/Campus.png')}}" alt="University Campus Map, a placeholder." class="campus-image">
                </div>
            </article>
    
            <article class="upgrades" id="Upgrade-tab">
                <div id="upgrade-tab">
    
                <div id="Poole GateWay">
                    <h1 id="upgradeable-building">Poole Gateway sustainability upgrades</h1>
                    
                </div>
                <div id="upgrade-box">
                    <button id="upgrade1" class="upgrade" name="LED-upgrade" onclick="LEDupgrade()">LED light upgrade: £25</button>
                    <div class="progress-bar1">
                        <div id="progress1" class="progress"></div>
                
                    </div>
                    <h1 name="bio" id="bio">This upgrade will install LED lights to the building and will save 4% of eneregy consmuption per year.</h1>
                </div>

                <div id="upgrade-box">
                    <button id="upgrade2" class="upgrade" name="Solar-upgrade" onclick="SolarUpgrade()">Install Solar pannels to cover the roof of the building: ££££</button>
                    <div class="progress-bar2">
                    <div id="progress2" class="progress"></div>
                </div>
                <h1 name="bio" id="bio">This upgrade will save the uni __ amount of energy per year</h1>
            </div> 
            <div id="upgrade-box">
                <button id="upgrade3" class="upgrade" name="Boiler-upgrade" onclick="BoilerUpgrade()">This is an upgrade to more efficent boilers: £15,000</button>
                <div class="progress-bar3">
                <div id="progress3" class="progress"></div>
            </div>
            <h1 name="bio" id="bio">This upgrade will save the uni 5% of its gas usage per year</h1>
        </div>
        <div id="upgrade-box">
            <button id="upgrade4" class="upgrade" name="insulation-upgrade" onclick="InsulationUpgrade()">This is an upgrade to more efficent boilers: £15,000</button>
            <div class="progress-bar4">
            <div id="progress4" class="progress"></div>
        </div>
        <h1 name="bio" id="bio">This upgrade will save the uni 5% of its gas usage per year</h1>
    </div>
    <div id="upgrade-box">
        <button id="upgrade" name="GSHP-upgrade" onclick="GSHPUpgrade()">This is an upgrade to install Ground Source Heat Pumps into the ground: £50,000</button>
        <div class="progress-bar5">
        <div id="progress5" class="progress"></div>
    </div>
    <h1 name="bio" id="bio">This upgrade will save the uni 10% of its gas usage per year</h1>
</div>
</div>
            

            </article>
        </section>
    </body>

    <script src="{{ url_for('static', filename='script/index.js')}}"></script>
</html>
